This notebook explain how the incidence and climate data can be access through the mosqlimate api (https://api.mosqlimate.org/docs/datastore/).

In [2]:
import numpy as np 
import pandas as pd 
from mosqlient import get_infodengue, get_climate

Incidence data:

In [3]:
# return a pd.DataFrame with the data 

df = get_infodengue(

    start_date='2022-12-30', 

    end_date = '2023-01-30', 

    disease = 'dengue',

    uf = 'RJ') # uf represent the state level 

df.head()

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,municipio_geocodigo,p_rt1,p_inc100k,Localidade_id,...,nivel_inc,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf
0,2023-01-29,202305,0.0,0,0,0,3301108,0.000000,0.000000,0,...,0,82.343265,72.721443,27.029762,29.142857,None,None,None,None,None
1,2023-01-29,202305,9.0,9,9,9,3302502,0.761945,3.652108,0,...,1,79.692519,72.257068,26.577381,28.571429,None,None,None,None,None
2,2023-01-29,202305,5.0,5,5,5,3306305,0.968967,1.824897,0,...,0,86.791009,77.417516,25.613095,28.000000,None,None,None,None,None
3,2023-01-29,202305,2.0,2,2,2,3302106,0.880866,8.612523,0,...,0,76.295948,73.473732,26.695238,27.428571,None,None,None,None,None
4,2023-01-29,202305,0.0,0,0,0,3305307,0.000000,0.000000,0,...,0,76.295948,73.473732,26.695238,27.428571,None,None,None,None,None

Climate data:

In [4]:
# return a pd.DataFrame with the data 
df = get_climate(
    start_date='2022-12-30', 
    end_date = '2023-01-30',
    geocode = 3304557) # geocode represent the municipality level 


df.head()

,date,geocodigo,temp_min,temp_med,temp_max,precip_min,precip_med,precip_max,precip_tot,pressao_min,pressao_med,pressao_max,umid_min,umid_med,umid_max
0,2022-12-30,3304557,22.2499,23.2568,24.2850,0.5377,0.9154,1.9040,7.3234,1.0013,1.0026,1.0040,87.6209,91.7248,93.9398
1,2022-12-31,3304557,21.4598,23.9418,27.4797,0.0018,0.3442,0.9423,2.7535,1.0012,1.0026,1.0042,73.3114,86.3707,93.7619
2,2023-01-01,3304557,22.4471,25.2049,28.6112,0.0000,0.4691,3.1281,3.7528,1.0000,1.0014,1.0031,69.1483,82.2698,92.6371
3,2023-01-02,3304557,22.2306,25.8212,29.9726,0.0000,0.2466,1.5756,1.9728,0.9954,0.9994,1.0019,59.1069,77.9063,93.3490
4,2023-01-03,3304557,23.3818,27.2378,32.1711,0.0000,0.0025,0.0141,0.0204,0.9940,0.9959,0.9974,52.3904,71.0909,86.0562